
  main{
    margin: 0 auto;
    max-width: 80%;
  }
  header {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    max-width:95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .movie-card {
    position: relative;

   
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.481);
   
    background-color: #4800ff22;
    
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgba(255, 255, 255, 0.481);
   
  }
  
  .movie-card h3,
  .movie-card p {
    padding: 10px;
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }

 /*hace aparecer la info de la peli de color blanco transparentado */
  .movie-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: linear-gradient(to top, #0c348357 0%, #a2b6df 100%, #022263 100%, #000000 100%);
    color: #fff; /* Texto blanco */
   
    
    display: none;
  }
  
  .movie-card:hover .movie-info {
    display: block; /* Muestra la información cuando se hace hover sobre la tarjeta */
  }
  
  

  footer {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    padding:5px;
  }
  
  .social-links a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse */
  }
  
  .social-links i {
    font-size: 24px;
  }
  
  .copyright {
    font-size: 14px;
  }
  